<div class="sidebar">
  <div class="container sidebar-sticky">
    <!-- Site About -->
    <div class="sidebar-about">
      <h1>
        <a href="{{ '/' | relative_url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <!-- Navigation -->
    <nav class="sidebar-nav">
      <!-- Home link -->
      <a class="sidebar-nav-item{% if page.url | relative_url == '/' %} active{% endif %}" href="{{ '/' | relative_url }}">Home</a>

      <!-- Dynamically list pages with layout: page -->
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title and node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url | relative_url == node.url | relative_url %} active{% endif %}" href="{{ node.url | relative_url }}">{{ node.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
    
  </div>
</div>
